<!--<p>Página curso</p> 08- página de exibição que está sendo carregada pelo componente app.component.html--> 
<!-- {{nome}} 11- teste de variável do curso.component.ts, apagar depois -->

<!--18-testando as classes do CRUD do curso.componente.ts, primeiro apagar o número 08. depois apagar o teste número 18
<button (click)="cadastro()">Cadastrar</button><br /><br />
<button (click)="selecao()">Seleção</button><br /><br />
<button (click)="alterar()">Alterar</button><br /><br />
<button (click)="remover()">Remover</button>
-->
